@model IEnumerable<EventPass1.Models.Evento>

@{
    ViewData["title"] = "Resultados";
}

<h2>Eventos</h2>

<table class="table"
     <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalIngressos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalIngressos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Local)
                    </td>
                </tr>
            }
        }
        else
        {
            <p>Nenhum resultado encontrado.</p>
        }
    </tbody>
</table>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Voltar</a>
