@model EventPass1.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalIngressos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalIngressos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
<<<<<<< HEAD
       
=======
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GestorId)
>>>>>>> 362d006aa8eea624361b5884da3d6ce098067e28
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEvento">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
