@model EventPass1.Models.Evento

@{
    ViewData["Title"] = "Info";
}
<link rel="stylesheet" href="~/css/style-info.css" />


<div class="content-image">
    <img src="/flyer/@ViewBag.Evento.flyer" class="d-block w-100" alt="..." />
</div>
<div class="container-info">
    <div>
        <div class="details-info">
            <p class="name-event">@Model.NomeEvento</p>
            <p class="date-event">@Model.Data.ToString("dd/MM/yyyy") às @Model.Hora.ToString("HH:mm")</p>
            <p class="local-event">@Model.Local</p>
            <p class="description-event">@Model.Descricao</p>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index" class="button-back">
        Voltar
    </a>
</div>
